<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="winsoap_client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <connectionStrings>
    <add name="sql_provider1" connectionString="Data Source=DOOR\TIMEXSQLSERVER;Initial Catalog=alkhalidiah;User Id=panarin;Password=qwerty123;"/>
  </connectionStrings>
  <applicationSettings>
    <winsoap_client.Properties.Settings>
      <setting name="id_company_in_BD" serializeAs="String">
        <value>930</value>
      </setting>
    </winsoap_client.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ExchangeServiceSoap" maxReceivedMessageSize="200000000" sendTimeout="00:30:00" useDefaultWebProxy="false" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://alkhalidiah.dyndns.org:7878/InTour%20XML/ExchangeService.asmx" binding="basicHttpBinding" bindingConfiguration="ExchangeServiceSoap" contract="alkhalidiah_reference.ExchangeServiceSoap" name="ExchangeServiceSoap"/>
    </client>
  </system.serviceModel>
</configuration>
